@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: Quicksand;
    font-size: 20pt;
    background: linear-gradient(to right, rgb(255, 190, 69), rgb(255, 85, 113))
}

#wrapper{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#container1{
  float: left;
  width: 20%;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
}

#container2{
    float: left;
    width: 20%;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}

#score1{
    font-size: 50px;
    margin-top: 75px;
}

#score2{
    font-size: 50px;
    margin-top: 75px;
}

#current{
    width:100px;
    height:70px;
    margin-left: 100px;
    background-color: rgb(238, 43, 9);
    margin-top: 50px;
    font-size: 12pt;
}

#ngbtn{
    position: absolute;
    margin-top: 75px;
    font-family: Quicksand;
    font-size: 15pt;
    border: none;
    border-style: none;
    background-color: transparent;
}

#newbutton{
    width:18px;
    height: 18px;
}

#rolldicebtn{
    visibility: hidden;
    position: absolute;
    margin-top: 250px;
    font-family: Quicksand;
    font-size: 15pt;
    border: none;
    border-style: none;
    background-color: transparent;
}


#rolld{
    width: 22px;
    height: 22px;
}

#holdbtn{
    visibility: hidden;
    position: absolute;
    margin-top: 300px;
    font-family: Quicksand;
    font-size: 15pt;
    border: none;
    border-style: none;
    background-color: transparent;
}

#hold{
    width: 18px;
    height: 18px;
}

p{
    font-size: 15pt;
    margin-top: 0px;
}

#die{
    visibility: hidden;
    position: absolute;
    margin-top: 130px;
}

#diceimg{
    width:90px;
    height:90px;
}